*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #12232E;

}
.header{
  padding: 15px 10%;
  background-color: #12232E;
  color: white;
}
.header header{
  display: flex;
  justify-content: center;

}
.header header p{
  color: #eeb445;
  font-weight: bolder;
}
.header header p span{
  color: white;
  font-weight: normal;
}
.header header ul {
  display: flex;
  list-style-type: none;
}
.header header ul li a{
  text-decoration: none;
  margin-right: 15px;
  color: white;
  
}
.about{
  background-color: #12232E;
  color: white;
  padding: 15px 10%;

}
.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .about-content .text p{
  font-size: 1.5rem;
  padding: 20px 10%;
}
.about .about-content .text a{
  text-decoration: none;
  color: #12232E;
  background-color: white;
  font-weight: bold;
  padding: 7px;
  border-radius: 10px;
}
.about .about-content .text p span{
  color: #eeb445;
  font-size: 2rem;
  font-weight: bolder;
}
.about .about-content .text{
  width: 100%;
}
.about .about-content .img{
  width: 50%;
  height: 100%;
}
.about .about-content .img img{
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
}

@media screen and (max-width:740px) {

  .about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about{
  padding: 0;
}

.skillset span{
  display: inline-block;
  margin: 7px;
}
.portfolio .portfolio-content .image img{
  width: 70%;
  height: 70%;
  margin: 10px;
}
.project-images{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.overflow-class{
  max-height: 560px;
  overflow: hidden;
}
.contact-content{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.left-footer, .right-footer{
  width: 100%;
}

}

.skills{
  margin: 10px;
  color: white;
}
.skillset{
  text-align: center;
  margin: 10px;
}
.skillset span{
  background-color: #2b363d;
  padding: 7px;
  border-radius: 10px;
}
.education{
  margin: 20px;

}
.education .education-detail{
  display: flex;
  align-items: center;
  height: 80px;
}
.education .education-detail div{
  margin: 10px;
}
.education .education-detail .middle img{
  height: 30px;
  width: 30px;
  padding: 10px;
  border-radius: 50%;
  background-color: #eeb445;
}
.education .education-detail .right{
  text-align: left;
}
.education .education-detail .right .second{
  color: rgb(135, 131, 131);
  margin: 10px 0;
}
.education .education-detail .right p{
  margin: 10px 0;
}
.portfolio{
  padding: 0 10%;
}
.portfolio .portfolio-content{
  text-align: center;
}
.portfolio .portfolio-content .project-images .image-card img{
  width: 100%;
  height: 200px;
  transition: all .5s ease-in-out;
}
.portfolio .portfolio-content .project-images .image-card{
  width: 300px;
  margin: 10px;
  color: white;
  border: 1px solid white;



}

.project-images{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

}
@media screen and (min-width:740px) {
  .overflow-class{
    max-height: 280px;
    overflow: hidden;
  }
  .contact-content{
  display: flex;
  flex-direction: row;
}
.left-footer, .right-footer{
  width: 50%;

}
  
}
.details{
  text-align: left;

}
.project-title{
  color: #eeb445;
  font-weight: bold;
  text-align: center;
}
.details{
  padding: 15px;
}
.des{
  font-size: small;
}


@keyframes opa {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}
.show-btn{
  padding: 5px 15px;
  margin: 10px;
  background-color: #eeb445;
  border: none;
  
}

.contact{
  padding: 0 10%;
  color: white;
}

.contact .left-footer p{
  margin: 20px;
}
.contact .contact-p1{
  font-size: 2rem;
  font-weight: bold;
  color: #eeb445;
}
.icons{
  margin: 20px;
}



.fa{
  font-size: 2rem;
}
.left-footer a{
  margin: 5px;
  text-decoration: none;
}
/* .contact-content{
  display: flex;
  flex-direction: row;
} */

.contact-details p{
  margin: 20px;
}
.contact-details p span{
  margin: 10px;
}
.right-footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.underline{
  border-bottom: 2px solid #eeb445;
  transition: all;

}

@keyframes nav {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

.image-card:hover img {
  transform: scale(1.1);
}

